body {
    background-color: hsl(330, 100%, 98%);

}

img {
    width: 500px;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
}

h2,
h3 {
    color: rgb(140, 177, 5);
}

.d1 {
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    width: 600px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 400px;
    padding: 3px 30px 40px 50px;

    img {
        border-radius: 30px;
    }
}

p,
li {
    font-size: 20px;
    font-family: 'Young Serif';
}

li::marker {
    color: hsl(332, 51%, 32%)
}

.dp {
    display: block;
    background-color: rgb(238, 238, 219);
    border-radius: 10px;
    padding: 10px 10px 10px 14px;
}

table {
    font-size: 20px;
    border-radius: 20px;
    width: 100%;

    th:nth-child(2) {
        color: hsl(332, 51%, 32%);
    }

    tr:not(tr:last-child) {
        border-bottom: 1px solid rgb(140, 177, 5);
    }

    tr {
        display: inline-block;
        width: 100%;
        display: flex;
        th {
            flex: 1;
            padding: 20px;
        }
    }
}